body{
    font-family: "Poppins", sans-serif;
font-size: 16px;
line-height:  1.6;
color: black;
background-color: azure;
margin: 0;
padding: 0;
}

div{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(at 27% 13%,hsla(214, 78%, 60%, 0.22) 0px,transparent 50%),
    radial-gradient(at 13% 64%,hsla(344, 84%, 51%, 0.55) 0px,transparent 50%),
    radial-gradient(at 94% 36%,hsla(128, 67%, 47%, 0.55) 0px,transparent 50%)
 
}

h1{
color: orange;
font-size: 80px;
font-weight: bold;
}